:root {
  --midnight: #1f2937;
  --saltpan: #f9faf8;
  --solitude: #e5e7eb;
  --dodger-blue: #3882f6;
}

html {
  font-family: "Roboto", sans-serif;
}

/* colors and font styles */

/* background header, hero, footer: midnight
hero title: 48px extra-bold saltpan
hero secondary, header link: 18px solitude
header logo text: 24px saltpan */

/* button color, cta background color: dodger-blue
information header text: 36px extra-bold midnight */

/* quote section background color: solitude
quote text: 36px light italic midnight */

.header,
.main-content-one,
.footer {
  background-color: var(--midnight);
}

.main-content-one-container-left-title {
  font-size: 48px;
  font-weight: bolder;
  color: var(--saltpan);
}

.main-content-one-container-left-text,
.header-menu-item {
  font-size: 18px;
  color: var(--solitude);
  text-decoration: none;
}

.header-text {
  font-size: 24px;
  color: var(--saltpan);
}

.main-content-two-title {
  font-size: 36px;
  font-weight: bolder;
  color: var(--midnight);
}

.main-content-three {
  background-color: var(--solitude);
}

.main-content-three-quote {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: var(--midnight);
}

main-content-four-card {
  background-color: var(--dodger-blue);
}

button {
  background-color: var(--dodger-blue);
  color: var(--saltpan);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0.0371;
}

.footer {
  flex: 0.0556;
}

.main {
  flex: 0.9073;
  display: flex;
  flex-direction: column;
}

.main-content-one {
  flex: 0.265306;
}

.main-content-two {
  flex: 0.285714;
}

.main-content-three {
  flex: 0.244898;
}

.main-content-four {
  flex: 0.204082;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 10px;
}

.main-content-one {
  display: flex;
}

.main-content-one-container-left {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  margin: 5%;
  gap: 10px;
}

.main-content-one-container-right {
  display: flex;
  align-items: center;
  flex: 0.5;
}

.main-content-one-container-right-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--solitude);
  height: 200px;
  width: 400px;
}

.main-content-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content-three-quote,
.main-content-three-citation {
  width: 50%;
}

.main-content-three-citation {
  text-align: end;
}

.main-content-four {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content-four-card {
  background-color: var(--dodger-blue);
  height: 50%;
  width: 50%;
  border-radius: 8px;
  color: var(--saltpan);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.main-content-four-card-right-button {
  border: solid;
  font-weight: bold;
  border-color: var(--saltpan);
  border-radius: 6px;
  padding: 4px 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--saltpan);
}
